{% extends 'shop/base.html' %}

{% block title %}
    Заказ {{ order.id }} {{ block.super }}
{% endblock  %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Главная</a> &rsaquo;
        <a href="{% url 'admin:orders_order_changelist' %}">Заказы</a>
        <a href="{% url 'admin:orders_order_change' order.id %}">Заказ {{ order.id }}</a>
        &rsaquo; Подробнее
    </div>
{% endblock  %}

{% block content %}
    <div class="module">
        <h1> Заказ {{ order.id }}</h1>
        <ul class="object-tools">
            <li>
                <a href="#" onclick="window.print()">
                    Печать заказа
                </a>
            </li>
        </ul>
        <table>
            <tr>
                <th>Создан</th>
                <td>{{ order.created }}</td>
            </tr>
            <tr>
                <th>Клиент</th>
                <td>{{ order.first_name }} {{ order.last_name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td><a href="mailto:{{ order.mail }}">{{ order.email }}</a></td>
            </tr>
            <tr>
                <th>Адресс</th>
                <td>
                    {{ order.address }},
                    {{ order.postal_code }} {{ order.ciry }}
                </td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ order.get_total_cost }} руб.</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{% if order.paid %}Оплачен{% else %}Не оплачен{% endif %}</td>
            </tr>
            <tr>
                <th>Номер платежа</th>
                <td>
                    {{ order.payment_id }}
                </td>
            </tr>
        </table>
    </div>
    <div class="module">
        <h2>Купленные товары</h2>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена за шт.</th>
                    <th>Количество</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle '1' '2' %}">
                        <td>{{ item.product.name }}</td>
                        <td class="num">{{ item.price }} руб.</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">{{ item.get_cost }} руб.</td>
                    </tr>
                {% endfor %}
                {% if order.coupon %}
                <tr class="subtotal">
                    <td colspan="3">Без скидки</td>
                    <td class="num">
                        {{  order.get_total_cost_before_discount|floatformat:2 }}
                    </td>
                </tr>
                <tr>
                <td colspan="3">
                    "{{ order.coupon.code }}" Промокод
                    ({{ order.discount }}%)
                </td>
                <td class="num neg"> - {{ order.get_discount|floatformat:2 }} руб.</td>
                </tr>
                {% endif %}
                <tr class="total">
                    <td colspan="3">Итого</td>
                    <td class="num">{{ order.get_total_cost|floatformat:2 }} руб.</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock  %}
    