{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} r_shop {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo"> r_shop </a>
        </div>
        <div id="subheader">
            <div class="cart">
                {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        Корзина:
                        <a href="{% url 'cart:cart_detail' %}">
                            {{ total_items }} {{ total_items|ru_plural:"товар,товара,товаров" }} | 
                            {{ cart.get_total_price }} руб.
                        </a>
                    {% elif not order %}
                        Ваша корзина пуста.
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>